*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav{
    height: 70px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#nav>a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 5px 5px 3px red;

}
#myForm{
    height: 100vh;
    width: 100%;
    background: linear-gradient(orange,rgb(145, 145, 236),green);
    display: flex;
    justify-content:center;
    align-items: center;
}
#myForm>table{
    height: 250px;
    width: auto;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px white;
}
#myForm>table label{
    color: white;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
#myForm>table input{
    background-color: transparent;
    border: none;
    border-bottom: 5px solid white;
    color: white;
}
#myForm>table input:focus{
    outline: none;
}
button{
    height: 30px;
    width: 130px;
    background-color: rgb(181, 164, 197);
    border: none;
    border-radius: 100px;
}
button:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}
h4{
    font-style: italic;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(18, 15, 15);
    text-shadow: 0px 0px 5px white;
}
#myUsers{
    height: 90vh;
    width: 100%;
    background:linear-gradient(white, red);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#cards{
    height: 200px;
    width: auto;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px white;
}
#card:hover{
    transform: scale(1.1);
    transition: 1s;
}
#cards>table{
    padding: 10px;
}
#cards:hover{
    transform: scale(1.1);
    transition: 1s;
}
#cards td{
    color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#cards td>button{
    height: 30px;
    width: 80px;
    background-color: white;
    display: inline-block;
}
#cards td>button>a{
text-decoration: none;
color: black;
}